<div class="row mt-4">

  <div class="col-md-6 d-none d-md-block" style="height: 450px;">
    <div class="text-center col-md-12 my-auto side-heder">
      <h1>Registo de Utilizador</h1>
      <img src="../../../../assets/registerImage.png" class="my-4" alt="" width="400px">
    </div>
  </div>

  <div class="col-md-6">

    <form [formGroup]="form" class="p-1" (ngSubmit)="register()">
      <div class="pb-2 d-block d-md-none">
        <h3 class="border-bottom">Registo de Utilizador</h3>
      </div>
      <div class="form-row">
        <div class="form-group col-sm-6">
          <label>Primeiro Nome</label>
          <input type="text" class="form-control" formControlName="primeiroNome"
            [ngClass]="cssValidator(f.primeiroNome)" placeholder="Insira o Primeiro nome" />
          <div class="invalid-feedback">
            Primeiro Nome é obrigatório.
          </div>
        </div>
        <div class="form-group col-sm-6">
          <label>Apelido</label>
          <input type="text" class="form-control" formControlName="apelido" [ngClass]="cssValidator(f.apelido)"
            placeholder="Insira o Apelido" />
          <div class="invalid-feedback">
            Apelido é obrigatório.
          </div>
        </div>
      </div>
      <div class="form-group">
        <label for="">Email:</label>
        <input class="form-control" type="text" formControlName="email" [ngClass]="cssValidator(f.email)"
          placeholder="Insira o E-mail" />
        <div *ngIf="f.email.errors?.required && f.email.touched" class="invalid-feedback">
          E-mail é obrigatório.
        </div>
        <div *ngIf="f.email.errors?.email && f.email.touched" class="invalid-feedback">
          Deve ser um e-mail válido.
        </div>
      </div>
      <div class="form-group">
        <label for="">Nome de Utilizador:</label>
        <input class="form-control" type="text" formControlName="userName" [ngClass]="cssValidator(f.userName)"
          placeholder="Insira o nome de Utilizador" />
        <div class="invalid-feedback">
          Nome de Utilizador é obrigatório.
        </div>
      </div>
      <div class="form-row">
        <div class="form-group col-sm-6">
          <label for="">Password:</label>
          <input class="form-control" type="password" formControlName="password" [ngClass]="cssValidator(f.password)"
            placeholder="Digite uma Password" />
          <div *ngIf="f.password.errors?.required && f.password.touched" class="invalid-feedback">
            Password é obrigatório.
          </div>
          <div *ngIf="f.password.errors?.minlength && f.password.touched" class="invalid-feedback">
            Deve conter no mínimo 6 caracteres.
          </div>
        </div>
        <div class="form-group col-sm-6">
          <label for="">Confirmar Password:</label>
          <input class="form-control" type="password" formControlName="confirmPassword"
            [ngClass]="cssValidator(f.confirmPassword)" placeholder="Confirme a Password" />
          <div *ngIf="f.confirmPassword.errors?.required" class="invalid-feedback">
            Confirmar password é obrigatório.
          </div>
          <div *ngIf="f.confirmPassword.errors?.mustMatch" class="invalid-feedback">
            Repetir a password é obrigatório.
          </div>
        </div>
      </div>
      <div class="form-row p-1 mb-3">
        <div class="custom-control custom-checkbox">
          <input type="checkbox" class="custom-control-input" id="customCheck1">
          <label class="custom-control-label">Eu concordo com os <a href="#">Termos de Uso</a>.</label>
        </div>
      </div>
      <div class="form-row">
        <div class="form-group col-12">
          <button [disabled]="!form.valid" class="btn btn-lg btn-success btn-block px-5" type="submit">
            Registar
          </button>
        </div>
      </div>
      <div class="form-row">
        <div class="form-group col-12">
          <a class="btn btn-link btn-block" routerLink="/user/login">
            Já tenho conta
          </a>
        </div>
      </div>
    </form>

  </div>
</div>
